In [1]:
import pandas as pd
from push_data_to_db import connect_n_push_to_db

In [2]:
df = pd.read_csv('tick_data.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9
0,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376535330,received_time:1664451377210455,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True
1,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376539541,received_time:1664451377214767,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True
2,symbol: CNE LN Equity,event:BID_CHANGE,server_time:1664451376539598,received_time:1664451377218490,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True
3,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376539611,received_time:1664451377222651,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True
4,symbol: CNE LN Equity,event:BID_CHANGE,server_time:1664451376604863,received_time:1664451377225040,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True

In [3]:
def split_info(a):
    split_a = a.split(":")
    return split_a[1].strip()

In [4]:
df['symbol'] = df[0].apply(lambda x: split_info(x))
df['event'] = df[1].apply(lambda x: split_info(x))
df['server_time'] = df[2].apply(lambda x: split_info(x))
df['received_time'] = df[3].apply(lambda x: split_info(x))
df['price'] = df[4].apply(lambda x: split_info(x))
df['vol'] = df[5].apply(lambda x: split_info(x))
df['bid'] = df[6].apply(lambda x: split_info(x))
df['ask'] = df[7].apply(lambda x: split_info(x))
df['valid'] = df[8].apply(lambda x: split_info(x))
df['outliner'] = df[9].apply(lambda x: split_info(x))

df.head()

,0,1,2,3,4,5,6,7,8,9,symbol,event,server_time,received_time,price,vol,bid,ask,valid,outliner
0,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376535330,received_time:1664451377210455,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True,CNE LN Equity,ASK_CHANGE,1664451376535330,1664451377210455,254.2,1692,254.0,254.4,True,True
1,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376539541,received_time:1664451377214767,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True,CNE LN Equity,ASK_CHANGE,1664451376539541,1664451377214767,254.2,1692,254.0,254.4,True,True
2,symbol: CNE LN Equity,event:BID_CHANGE,server_time:1664451376539598,received_time:1664451377218490,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True,CNE LN Equity,BID_CHANGE,1664451376539598,1664451377218490,254.2,1692,254.0,254.4,True,True
3,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376539611,received_time:1664451377222651,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True,CNE LN Equity,ASK_CHANGE,1664451376539611,1664451377222651,254.2,1692,254.0,254.4,True,True
4,symbol: CNE LN Equity,event:BID_CHANGE,server_time:1664451376604863,received_time:1664451377225040,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True,CNE LN Equity,BID_CHANGE,1664451376604863,1664451377225040,254.2,1692,254.0,254.4,True,True

In [5]:
df = df.iloc[:,10:]

df.head()

,symbol,event,server_time,received_time,price,vol,bid,ask,valid,outliner
0,CNE LN Equity,ASK_CHANGE,1664451376535330,1664451377210455,254.2,1692,254.0,254.4,True,True
1,CNE LN Equity,ASK_CHANGE,1664451376539541,1664451377214767,254.2,1692,254.0,254.4,True,True
2,CNE LN Equity,BID_CHANGE,1664451376539598,1664451377218490,254.2,1692,254.0,254.4,True,True
3,CNE LN Equity,ASK_CHANGE,1664451376539611,1664451377222651,254.2,1692,254.0,254.4,True,True
4,CNE LN Equity,BID_CHANGE,1664451376604863,1664451377225040,254.2,1692,254.0,254.4,True,True

In [6]:
# list(df.loc[2])

In [7]:
connect_n_push_to_db(df)

Connecting to the PostgreSQL database...
Database connection closed.

In [8]:
a = "(a)"
b = "(b)"
c = []
c.append(a)
c.append(b)
c

['(a)', '(b)']

In [9]:
",".join(c)

'(a),(b)'